<p id="notice"><%= notice %></p>

<p>
  <strong>Load:</strong>
  <%= @workload.load_id %>
</p>

<p>
  <strong>Lec:</strong>
  <%= @workload.lec_id %>
</p>

<p>
  <strong>Ks dip:</strong>
  <%= @workload.ks_dip %>
</p>

<p>
  <strong>Ps dip:</strong>
  <%= @workload.ps_dip %>
</p>

<p>
  <strong>Ks deg:</strong>
  <%= @workload.ks_deg %>
</p>

<p>
  <strong>Ps deg:</strong>
  <%= @workload.ps_deg %>
</p>

<p>
  <strong>Total dip:</strong>
  <%= @workload.total_dip %>
</p>

<p>
  <strong>Total deg:</strong>
  <%= @workload.total_deg %>
</p>

<p>
  <strong>Ks postgrade:</strong>
  <%= @workload.ks_postgrade %>
</p>

<p>
  <strong>Ps postgrade:</strong>
  <%= @workload.ps_postgrade %>
</p>

<p>
  <strong>Total postgrade:</strong>
  <%= @workload.total_postgrade %>
</p>

<p>
  <strong>K1:</strong>
  <%= @workload.k1 %>
</p>

<p>
  <strong>K2:</strong>
  <%= @workload.k2 %>
</p>

<p>
  <strong>K3:</strong>
  <%= @workload.k3 %>
</p>

<p>
  <strong>Kts:</strong>
  <%= @workload.KTS %>
</p>

<p>
  <strong>Atp:</strong>
  <%= @workload.ATP %>
</p>

<%= link_to 'Edit', edit_workload_path(@workload) %> |
<%= link_to 'Back', workloads_path %>
